.HomeContainer {
    display: flex;
    background: transparent;
}


.TittleContainer {
    display: flex;
    width: 130vh;
    margin-left: 50px;
    align-items: center;
    justify-content: center;
    background: transparent;
    height: 100vh;
}

.TittleContainer img {
    height: 80vh;
    background: transparent;
}

.ButtonContainer {
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ButtonContainer img {
    height: 40vh;
}

.secondButton {
    margin-top: 20px;
}

.secondButton img {
    height: 20vh ;
    margin-right: 10px;
    margin-left: 10px;
}